# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
wheels/

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
